
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgb(71, 71, 71);
  color: #eee;
}

#wrapper {
  width: 100%;
  text-align: center;

  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.image_container {
  height: 300px;
  overflow: hidden;
}

.image,
.content {
  outline: 1px solid red;
}

.image {
  background-image: url(bg1.jpg);
  background-size: cover;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
}

.content {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img2 {
  background-image: url(bg2.jpg);
}

.img3 {
  background-image: url(bg3.jpg);
}

body, html {
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("bg1.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    height: 10px;
    width: 10px;
}
.img__a{
    height: 50px;
    width: 50px;
}
.img__b{
    height: 50px;
    width: 50px;
    
}
.img__c{
    height: 50px;
    width: 50px;
}